In [26]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [27]:
# Function to read the CSV file into a DataFrame
def read_csv():
    # read the user_nodes.csv file using pandas library and return it
    df = pd.read_csv('user_nodes.csv')
    return df

In [28]:
# Function to check for null (missing) values in the DataFrame
def check_null_values():
    # do not edit the predefined function name
    df = read_csv()
    # Check for null values using the isnull() method and sum them for each column
    null_values = df.isnull().sum()
    return null_values

In [29]:
# check for null values

check_null_values()

id_           0
area_id_      0
node_id_      0
act_date      0
deact_date    0
has_loan      0
is_act        0
dtype: int64

In [30]:
# Function to check for duplicate rows in the DataFrame
def check_duplicates():
    # do not edit the predefined function name
    df = read_csv()
    # Calculate the number of duplicate rows using the duplicated() method and sum them
    duplicates = df.duplicated().sum()
    return duplicates

In [31]:
# check for duplicates 

check_duplicates()

143

In [32]:
# Function to drop duplicate rows from the DataFrame
def drop_duplicates():
    # do not edit the predefined function name
    df = read_csv()
    # Drop duplicate rows using the drop_duplicates() method with inplace=True
    df.drop_duplicates(inplace=True)
    return df

In [33]:
# drop duplicates 

drop_duplicates().head()

   id_  area_id_  node_id_    act_date  deact_date  has_loan  is_act
0    1         3         4  02-01-2020  03-01-2020         1       0
1    2         3         5  03-01-2020  17-01-2020         0       1
2    3         5         4  27-01-2020  18-02-2020         0       0
3    4         5         4  07-01-2020  19-01-2020         1       1
4    5         3         3  15-01-2020  23-01-2020         0       1

In [34]:
def data_cleaning():

    df = drop_duplicates()

    # Step 3: Drop specified columns from the DataFrame("has_loan", "is_act")
    df.drop(columns=["has_loan", "is_act"], inplace=True)
    #Rename columns names id_,area_id_,node_id_,act_date',deact_date to consumer_id,region_id,node_id,start_date,end_date
    df.rename(columns={"id_": "consumer_id", "area_id_": "region_id", "node_id_": "node_id",
                           "act_date": "start_date", "deact_date": "end_date"}, inplace=True)
    df.to_csv('user_nodes_cleaned.csv', index=False)
    return df

In [37]:
data_cleaning().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3500 entries, 0 to 3499
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   consumer_id  3500 non-null   int64
 1   region_id    3500 non-null   int64
 2   node_id      3500 non-null   int64
 3   start_date   3500 non-null   object
 4   end_date     3500 non-null   object
dtypes: int64(3), object(2)
memory usage: 164.1+ KB